*{
    margin: 0;
    padding: 0;
}
h5{
    font-weight: 500;
}
.theme{
    color: #2E91FF;
}
.themeBg{
    background-color: #2E91FF;
}
.flex{
    display: flex;
}
.alignCenter{
    align-items: center;
}
.between{
    justify-content: space-between;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #F3F5F7;
     
  }
  
  * {
    box-sizing: inherit;
      margin: 0;
    padding: 0;
  }
  ul,li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  /* 进度条颜色 */
  #nprogress .bar {
    background: pink !important; 
  }
  /* 进度条颜色 */
  /* .data_activejian{
    color: #fff;
    background: #FF9300;
  } */
  .van-nav-bar {
    z-index: 100 !important;
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
  }
  .van-nav-bar__arrow{
    font-size: 20px !important;
    font-weight: 500;
  }
  .pay-box .van-nav-bar {
    z-index: 100 !important;
    position: relative !important;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .header .van-nav-bar {
    background: none;
    z-index: 1 !important;
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0;
  } 
  .header .van-nav-bar__title{
    color: #fff;
  
  }
  .warpper{
    padding-top: 46px !important;
  }
  .theme-linear-bg{
    background: linear-gradient(180deg, #CCA264 0%, #AA7322 100%) !important;
  }
  
  .theme_bg{
    background: linear-gradient(180deg, #F08300 0%, #F08300 100%) !important;
  }
  .theme_btn{
    background: linear-gradient(180deg, #F08300 0%, #F08300 100%) !important;
  }
  .theme_btn_dark{
    background: linear-gradient(180deg, #CCA264 0%, #AA7322 100%) !important;
  }
  .theme{
    color: #F08300  !important;
  }
  .theme_border_b{
    border-bottom: 1px solid #F08300;
  }
  
  .theme_color{
    color: #ff3735  !important;
  }
  .color_fff{
    color: #fff !important;
  }
  .color_95{
    color: #959595;
  }.color_2b{
    color: #2b2b2b;
  }
  .color_999{
    color: #999;
  }
  .color_666{
    color: #666;
  }
  .divider_box{
    padding:60px 72px;
  }
  .divider{
    font-size: 20px;
    color: #BCBCBC;
  }
  
  .order_btn .van-button--mini{
    padding: 0 6px;
    min-width: auto;
  }
  .warpper_top{
    height: 46px;
    width: 100%;
  }
  
  /*透明头部样式*/